body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.display{
    font-size: 80px;
    margin-bottom: 20px;
}


.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps ul li {
    background-color: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
